<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>2B Connect</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>The app accesses the media drive to store data files</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>The app uses bluetooth to communicate with instruments. This is necessary for the app to communicate with the devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The app uses bluetooth to communicate with instruments. This is necessary for the app to communicate with the devices.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location data is used by the app to map the location where data was recoreded. For example, when on a trek the app will record the location a reading was recorded. This data is included when exporting measurement data.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location data is used by the app to map the location where data was recoreded. For example, when on a trek the app will record the location a reading was recorded. This data is included when exporting measurement data. This also allows the app to collect data if running in the background.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Used as an option when exporting data files</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Used as an option when exporting data files</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
